 a
{
    font-family: 'Jost';
}

button
{
    padding: 15px 25px;
    font-family: 'Jost';
    font-weight: bold;
    border-radius: 10%;      
    cursor:pointer;
    
}

p {
font-family:'Jost';
font-size: 14px;

}

.button--orange{
        /*backgorundo color de fondo del boton*/
background-color: #fd909e;
/*letra blanca*/
color:white;
border: none;

}

h2{
font-family: 'Jost';
font-size: 45px;
color:#010851;
/*separación entre lineas*/
line-height: 124%;
/*Espacio entre letras*/
letter-spacing: -1%;
margin:0;

}

body{
    margin: 0px;
}
